@import url("https://fonts.googleapis.com/css2?family=Poppins:display=swap");

.header {
  display: flex;
  height: 49px;
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.header > img {
  height: 22px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 34px;
}

.title {
  margin: 0;
}

.invisible-bar {
  display: flex;
  width: 626px;
  height: 49px;
  align-items: center;
  gap: 25px;
}
