@import url("https://fonts.googleapis.com/css2?family=Poppins:display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Poppins:wght@100;300&display=swap");

.home-page {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-between;
  height: 100%;
}

.home-content {
}

.intro-content {
  display: flex;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  padding-bottom: 250px;
}

.intro-text {
  display: flex;
  flex-direction: column;
  width: 790px;
  gap: 30px;
}

.intro-title {
  color: #202020;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

.intro-title > h1 {
  margin-bottom: -30px;
}

h1 > span {
  color: #fc8019;
}

.intro-paragraph {
  color: #404040;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 25px;
  width: 708px;
  font-weight: bold;
}

.intro-images {
  display: flex;
  gap: 60px;
  align-items: center;
}

.food1 {
  width: 400px;
  height: 600px;
}

.food2 {
  width: 300px;
  height: 450px;
}

.restaurants-content {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

.restaurants-content > h3 {
  display: flex;
  color: #202020;
  font-size: 24px;
  padding-bottom: 15px;
  padding-left: 135px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 67px;
  padding-bottom: 112px;
  padding-left: 300px;
  padding-right: 300px;
}

.cards-row {
  display: flex;
  gap: 81px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.restaurant > img {
  width: 256px;
  height: 256px;
}

.restaurant > h3 {
  font-size: 20px;
  width: 200px;
}

.info-avaliation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 257px;
}

.info-avaliation > p {
  color: #808080;
  font-size: 16px;
}

.avaliation {
  display: flex;
  font-size: 16px;
  align-items: center;
  gap: 5px;
}

.avaliation > img {
  width: 20px;
  height: 20px;
}

.timing {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  width: 257px;
  font-weight: bold;
  gap: 5px;
}

.timing > img {
  width: 20px;
  height: 17px;
}

.footer {
  display: flex;
  flex-direction: column;
  background: #fc8019;
  color: white;
  height: 180px;
}

.footer-primary {
  display: flex;
  justify-content: space-between;
  margin: 0 240px;
}

.logo-footer {
  display: flex;
  align-items: center;
  font-family: "Gilroy", sans-serif;
  font-size: 28px;
}

.info-footer {
  display: flex;
  gap: 60px;
  font-family: "Poppins", sans-serif;
  font: 16px;
}

.contact-footer {
  font-family: "Poppins", sans-serif;
  font: 14px;
}

h5 > span {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}
